
@{
    ViewBag.Title = "CommonFootProblems";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Common Foot Problems</h2>
            <p>
                <h3>Foot Problems Basic Facts & Information</h3>

                <h4>Did You Know?</h4>

                A common misconception is that sore feet are normal... they are not!<br />
                Most of us are likely to walk an average 115,000km, the equivalent of 3 times around the world in our lifetime.<br />

                When playing sports, your body can experience shock through your legs that is up to 6 times your body weight.<br />

                The foot is an amazing network of 26 bones, 33 joints, 56 ligaments, 31 tendons, 19 muscles and meters of nerves and blood vessels. A quarter of all the bones in your body are in your feet.
            </p>
        </div>
        <div class="col-md-4">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="~/Content/images/image3.jpg" data-holder-rendered="true">

        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-4">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="~/Content/images/foottypes.jpg" data-holder-rendered="true">


        </div>
        <div class="col-md-8">
            <h4>A. Pronated –</h4>  Rolling in – Around 50% of people have flat feet which tend to roll inwards. This can increase strain on ankles, knees and hips;

            <h4>B. Neutral –</h4>  Around 30% of people have neutral feet which still benefit from proper cushioning and support;

            <h4>C. Supinated –</h4> Rolling out – Around 20% of people have high arches and feet which tend to roll outwards, increasing the amount of force through the legs.
        </div>

    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-8">
            <p>
                <h3>Do You Have?</h3>
                <br />
                – Aching feet, sore legs or back problems?<br />
                – Foot and Ankle orthopaedic problems like: low or high arch, pronation or supination ankle, bunion or bunionette, hammertoe, corn or callus, sore heel, one leg shorted then other, swelling or varicose veins?<br />
                – Spine disorders orthopaedic problems like: kyphosis, scoliosis, lordosis, osteoporosis, causes of pain in the lower back or leg, other orthopaedic problems?<br /><br />

                Foot pain makes it harder to walk and carry out your daily functions. You may also have trouble with your balance and your chance of falling increases.<br /><br />

                Being able to walk easily is extremely important, since walking is one of the best ways to exercise and keep fit.
            </p>
        </div>
        <div class="col-md-4">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="~/Content/images/run2.jpg" data-holder-rendered="true">
        </div>

    </div>

    <hr class="featurette-divider">

    <div class="row">

        <div class="col-md-4">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="~/Content/images/foot.jpg" data-holder-rendered="true">
        </div>
        <div class="col-md-8">
            <p>
                <h3>Structure of the Foot</h3><br />

                Each of your feet contains 26 bones, 33 joints, and more than 120 muscles, ligaments, tendons, and nerves. <br />
                These all work together to support the weight of your body, act as shock absorbers, keep you balanced, and push you forward with each stride.<br />
                On average, people spend about four hours standing on their feet every day and take around 10,000 individual steps. <br />
                Because feet are small compared to your whole body, they receive an enormous impact with each footfall, adding up to hundreds of tons of weight every day.<br /><br />

                One of the main causes of foot problems is poor-fitting shoes. Three out of four people wear shoes that are too small, narrow or high heeled shoes, shoes with slippery soles, or ones that offer no protection or support may cause serious injury and pain, and increase your chance of a fall.<br />

                Most foot problems can be treated effectively. You do not have to suffer needlessly.

            </p>

        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">

        <div class="col-md-8">
            <p>
                <h3>What are the causes of Foot Problems?</h3><br />
                Standing changes your feet, much of the natural cushion of padding under your heel and the ball of your foot is lost.
                <br />The arches get flatter and less flexible, your ankles and foot joints become stiffer, and your whole foot gets wider and longer.<br />
                Because of these changes, you may develop foot pain and other problems even if you never had difficulties with your feet before. <br />
                Certain medical conditions put you at greater risk of foot problems. For example, diabetes can cause reduced blood circulation and nerve damage in the feet.
            </p>
        </div>

        <div class="col-md-4">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="~/Content/images/0.jpg" data-holder-rendered="true">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-4">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="~/Content/images/bunion.jpg" data-holder-rendered="true">
        </div>


        <div class="col-md-8">
            <h3>Bunions</h3>
            <p> Bunions are bony growth or misaligned bone at the base of the big toe or sometimes on the small toe. Eventually, the big toe may bend abnormally toward the small toes.</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-8">
            <h3>Hammertoes</h3>
            <p>
                Toe joints (usually the first small toe but all the middle toes may be affected) that curl up or under, either rigidly or with some flexibility,
                often resulting in a permanently dislocated joint.
            </p>
        </div>
        <div class="col-md-4">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="~/Content/images/hammer.jpg" data-holder-rendered="true">
        </div>

    </div>

    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-4">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="~/Content/images/diabetes.jpg" data-holder-rendered="true">
        </div>
        <div class="col-md-8">
            <h3>Diabetes Related Foot Problems</h3>
            <p>Foot problems related to diabetes: Such as stubborn foot ulcers that are difficult to heal, loss of feeling or circulation problems.</p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-8">
            <h3>Heel Pain</h3>
            <p>This pain is present at the back of the arch from heel spurs (bony outgrowth) or plantar fasciitis (an inflamed ligament along the bottom of the foot).</p>
        </div>
        <div class="col-md-4">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="~/Content/images/footpain.gif" data-holder-rendered="true">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-4">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="~/Content/images/doctor.jpg" data-holder-rendered="true">
        </div>
        <div class="col-md-8">
            <h3>Some other foot problems that are less common include:</h3>
            <p>
                – Arch pain – from fallen arches (flat feet), or abnormally high arches<br />
                – Tarsal tunnel syndrome – a type of pinched nerve disorder<br />
                – Achilles tendonitis – inflammation of the tendon that connects your heel bone to your calf muscle<br />
                – Morton’s neuroma – benign nerve growth between the third and forth toes<br />
                <h3>Who Need Orthopedica Clinic?</h3>
            <p>
                – People who suffer from foot, legs, lower back problems, hip and knees problems.
                – All sorts of Sports people in particular need adequate foot support to maintain good foot function and body posture, which are essential for sports performance.
                – People who are on their feet all day, stand for long hours at their jobs and are in particular need of proper orthopaedic foot support to maintain good foot function and body posture, so that they can do jobs without aches and pains.
            </p>
        </div>

        </p>
    </div>
