
@{
    ViewBag.Title = "Services";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="~/Content/images/image4.jpg" data-holder-rendered="true">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h2 class="featurette-heading">Services<span class="text-muted"><br />Custom-made orthopaedic inner soles</span></h2>
                <p>
                    Inner soles are specially designed to restore the natural position and function of the foot. Besides support they have to unload painful pressure points. Custom-made technique allows us to produce the most complex inner soles that meet the needs of any customer.
                    Each orthopaedic inner soles is hand-made by professionals to get the perfect fit, using top quality materials.
                </p>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <p>
                    <h3>Orthopedica has few types of Orthopaedic inner soles</h3>

                    <h4>Sports Inner Soles:</h4>
                    durable, provides extra cushioning for the heel  with built in arch support for incredible comfort and shock absorption

                    <h4>Casual Inner Soles:</h4>
                    durable, ultra-thin with built in arch support for incredible comfort.

                    We can also make inner soles for any type of shoes, for example: safety boots, gumboots, slippers etc.

                    <h5>Contact us to book an appointment at our New Lynn clinic. The Specialist will take the foot print and will give you advise for what kind of orthopaedic inner soles or shoes will suit your needs.</h5>

                </p>
            </div>
            <div class="col-md-4">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="~/Content/images/orthotics.jpeg" data-holder-rendered="true">
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    <h4>What is the difference between orthopedic inner soles and orthopedic shoes?</h4>

                    Orthopedic shoes provide more support than even the most supportive athletic shoes, and there are different styles for different conditions, whether you need extra arch support or relief from bunions.<br />
                    Just like regular shoes, these range in size from children to adults, and come in styles for men and women. <br />
                    Depending on your specific needs, they can be effective for a variety of conditions.<br />

                    Orthopedic inner soles, on the other hand, are custom made to the exact shape of your foot and your specific needs, and then slip into your existing footwear in lieu of the factory-made insole that came with the shoe.<br />
                    Unlike orthopedic shoes, an inner sole can be made just for you, which means that you’re getting the exact support that you need, not the average support that people your shoe size and with your foot condition need.<br /><br />

                    Overall, we recommend to our clients to buy orthopedic inner soles as they are more effective and more affordable than orthopedic shoes.<br />
                    And the fact that you can use them in a variety of different types of footwear, rather than wearing the same shoes all of the time, is just an added benefit.
                </p>

            </div>

        </div>


    </div>
    <hr class="featurette-divider">
</body>