@{
    ViewBag.Title = "About";
}
<hr class="featurette-divider">
<div class="container">
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-8 col-lg-8 col-md-8">

            <h2>About Us </h2>
            <p>
                Orthopedica inner soles are orthopaedic devices for shoes, designed to support, align, prevent, or to help enhance comfort and function. 
                Support arches, maintain a good foot function and body posture, avoid foot injury, prevent problems becoming worse etc. 
                We are able to assist you to achieve better health through proper orthopaedic foot care & footwear, with customised hand-made orthopaedic inner soles, orthopaedic shoes and many other orthopaedic products.
                 We offer you in addition special exercises for general well being (including feet, legs and back).<br />
                <br />

                We offer you in addition special exercises for general well being (including feet, legs and back). So why don’t you call us to find out more.
                Orthopedica’s vision is to provide every family with happy feet, knees and back to the best of our abilities.
                 To achieve that we utilise our extensive experience and constant research to make our services better.<br /><br />

                We build our future with your future and the future of your healthy and happy feet, because we realise that if our feet are not happy our whole body suffers as a result.
                 Our commitment is to continue providing a high standard of service to our customers and improve their health.

            </p>
               
        </div>
        <div class="cal-xs-12 col-sm-4 col-lg-4 col-md-4">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="~/Content/images/images2.jpg" data-holder-rendered="true">

        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row">
        <h2>Success Stories</h2>
        <div class="col-md-4">
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title clearfix">Susanne, this is my third year of wearing Orthopedica’s inner soles</h3>
                   
                </div>
                <div class="panel-body">
                    <p>
                        ‘Hi, I just want to say this is my third year of wearing Orthopedica’s inner soles and they still look like new, functioning like day one. It’s amazing how my walk, posture changed. I am definitely never going back to wearing shoes without these amazing inner soles. Thank you for helping my ankles, back and helping me walk tall.’
                        <br /> Susanne
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Rihari-Scott , I wish to thank you very much for my inner soles. I am now able to play Badminton four days</h3>
                   
                </div>
                <div class="panel-body">
                    <p>
                        ‘I wish to thank you very much for my inner soles. I am now able to play Badminton four days a week without getting that annoying pain in my heal. That is amazing considering my feet were in such a bad state. I also wish to thank you for your prompt service and for comming to my home and homes of my friends. My family is also very pleased with their inner soles and wear them every day. Thanks a Million!’
                        <br />Rihari-Scott
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Rachel , After four weeks of wearing inner soles the pain in my ankle has improved</h3>
                   
                </div>
                <div class="panel-body">
                    <p>
                        "four weeks of wearing inner soles the pain in my ankle has improved to a level that I can go for a walk now. Thank you for making a difference in my life."
                        <br />Rachel
                    </p>
                </div>
            </div>
        </div>









    </div>








</div>