
@{
    ViewBag.Title = "CommonFootProblems";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Common Foot Problems</h2>
            <p>
                <h3>Foot Problems Basic Facts & Information</h3>

                <h4>Did You Know?</h4>

                A common misconception is that sore feet are normal... they are not!<br />
                Most of us are likely to walk an average 115,000km, the equivalent of 3 times around the world in our lifetime.<br />

                When playing sports, your body can experience shock through your legs that is up to 6 times your body weight.<br />

                The foot is an amazing network of 26 bones, 33 joints, 56 ligaments, 31 tendons, 19 muscles and meters of nerves and blood vessels. A quarter of all the bones in your body are in your feet.
            </p>
        </div>
        <div class="col-md-4">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="~/Content/images/image3.jpg" data-holder-rendered="true">

        </div>
    </div>
</div>